@import "base/normalize";
@import "base/fonts";
@import "base/var";

* {
  box-sizing: border-box;
  user-select: none;
  font-weight: 400;
}

body {
  font-size: 20px;
  font-family: "Inter";
}

.container {
  margin: auto;
  width: 1140px;
  height: 100%;
  position: relative;
  @media (max-width: 1200px) {
    width: 960px;
  }
  @media (max-width: 992px) {
    width: 720px;
  }
  @media (max-width: 768px) {
    width: 556px;
  }
  @media (max-width: 576px) {
    width: calc(100% - 20px);
  }
}

.wrapper {
  position: relative;
  background-image: url("./../img/headers-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
  @media (max-width: 992px) {
    background-image: none;
    background: url("./../img/big-neuron.png") -166px calc(100% + 140px) / 370px
      no-repeat;
  }
}

@import "blocks/service-item";
@import "blocks/button";
@import "blocks/round-button";
@import "blocks/nav";
@import "blocks/header";
@import "blocks/about";
@import "blocks/services";
@import "blocks/reviews";
@import "blocks/form";
@import "blocks/sign";
@import "blocks/slider";
@import "blocks/footer";
@import "blocks/tabs";
@import "blocks/block";
