@font-face {
  font-family: "Lobster";
  src: url("./../fonts/Lobster-Regular.woff") format("woff"),
    url("./../fonts/Lobster-Regular.woff2") format("woff2"),
    url("./../fonts/Lobster-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-Regular.woff") format("woff"),
    url("./../fonts/Inter-Regular.woff2") format("woff2"),
    url("./../fonts/Inter-Regular.ttf") format("ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("./../fonts/Inter-ExtraBold.woff") format("woff"),
    url("./../fonts/Inter-ExtraBold.woff2") format("woff2"),
    url("./../fonts/Inter-ExtraBold.ttf") format("ttf");
  font-weight: 900;
  font-style: normal;
}
