$main-color: #5ab9ea;
$add-main-color: #84ceeb;
$main-elements-color: #8860d0;
$add-elements-color: #c1c8e4;
$main-text-color: #ffffff;
$add-text-color: #000000;
$add-color: #d9d9d9;

@mixin shadow($property, $color) {
  box-shadow: -$property $property $property $color;
}

@mixin inshadow($property, $color) {
  box-shadow: -$property $property $property $color inset;
}

@mixin double-shadow($property, $color) {
  box-shadow: -$property $property $property $color,
    -$property $property $property $color inset;
}

@mixin title($color) {
  font-family: "Lobster";
  font-size: 42px;
  line-height: 42px;
  color: $color;
  @media (max-width: 768px) {
    font-size: 34px;
    line-height: 34px;
  }
}

@mixin controller($color) {
  height: 56px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
  padding: 0px 8px;
  border-radius: 31px;
  background-color: $color;
}
