.about {
  margin: auto;
  width: 1000px;
  margin-top: 180px;
  padding: 20px 0 40px;
  text-align: center;
  overflow-x: hidden;
  scroll-margin-top: 90px;
  &__title {
    display: inline-block;
    text-align: center;
    border-radius: 100%;
    @include title($main-color);
  }
  &__wrapper {
    margin-top: 40px;
    display: flex;
    align-items: center;
  }
  &__img {
    width: 400px;
    height: 400px;
    object-fit: cover;
    border-radius: 20px;
    transform: translateX(50px);
  }
  &__info {
    width: 660px;
    height: 370px;
    padding: 25px;
    border-radius: 20px;
    background-image: linear-gradient(
      45deg,
      rgba($add-elements-color, 0.8) 30%,
      $add-main-color
    );
    transform: translateX(-50px);
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @include shadow(4px, rgba(0, 0, 0, 0.25));
  }
  &__desc-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
  }
  &__sign {
    height: 65px;
    flex-grow: 1;
    line-height: 0;
    & img {
      height: 100%;
    }
  }
  &__line {
    margin-top: 40px;
    display: flex;
  }
  &__double {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  &__slider {
    display: none;
  }
  &__slide {
    opacity: 1;
    width: 320px;
    height: 180px;
    border-radius: 20px;
    background-color: black;
    color: white;
  }
  &_mt40 {
    margin-top: 40px;
  }
}

@media (max-width: 1200px) {
  .about {
    width: 100%;
    &__double {
      gap: 15px;
    }
    &__slide {
      width: 310px;
    }
  }
}

@media (max-width: 992px) {
  .about {
    margin-top: 20px;
    &__wrapper {
      margin-top: 0px;
      flex-direction: column;
      background: url("./../img/neuron.png") center 0/80% no-repeat;
    }
    &__img {
      width: 300px;
      height: 300px;
      transform: translateY(20px);
    }
    &__info {
      width: 100%;
      height: auto;
      gap: 20px;
      transform: translateY(-30px);
    }
    &__line {
      margin-top: 20px;
    }
    &__slider-double {
      display: none;
    }
    &__slider {
      display: block;
    }
    &__slide {
      width: 350px;
      height: 200px;
    }
    &_mt40 {
      margin-top: 0;
    }
  }
}

@media (max-width: 768px) {
  .about {
    margin-top: 0px;
    &__img {
      height: 250px;
      width: 250px;
    }
    &__line {
      flex-wrap: nowrap;
      flex-direction: row;
      height: auto;
    }
    &__info {
      font-size: 16px;
    }
    &__sign {
      height: 50px;
    }
  }
}

@media (max-width: 576px) {
  .about {
    margin-top: 10px;
    &__img {
      width: 50%;
      min-width: 180px;
      height: 50%;
      min-height: 180px;
    }
    &__info {
      font-size: 14px;
    }
    &__slide {
      width: 100%;
      max-width: 350px;
      height: 200px;
    }
  }
}
