.header {
  position: relative;
  height: 1950px;
  &__bg {
    height: 50%;
  }
  &__container {
    margin: 80px 0;
    width: 670px;
    position: absolute;
    top: 0;
    right: 50%;
    transform: translateX(calc(75%));
  }
  &__title {
    @include title($main-color);
  }
  &__name {
    margin-top: 15px;
    font-size: 28px;
  }
  &__desc {
    margin-top: 15px;
  }
  &__services {
    position: relative;
    margin-top: 30px;
  }
  &__service {
    &-1 {
      position: absolute;
      top: 0;
      left: 42px;
    }
    &-2 {
      position: absolute;
      top: 135px;
      left: -120px;
    }
    &-3 {
      position: absolute;
      top: 90px;
      left: 300px;
    }
    &-4 {
      position: absolute;
      top: 229px;
      left: 230px;
    }
    &-5 {
      position: absolute;
      top: 337px;
      left: 28px;
    }
    &-6 {
      position: absolute;
      top: 445px;
      left: 278px;
    }
  }
}
