.nav {
  height: 90px;
  width: 100%;
  // background-image: linear-gradient(90deg, #ffffff00, #ffffff83, #ffffff00);
  background-color: rgba(255, 255, 255, 0.733);
  position: fixed;
  z-index: 2;
  @include shadow(4px, rgba(0, 0, 0, 0.05));
  &__wrapper {
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
  }
  &__burger {
    display: none;
    width: 40px;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    &-elem {
      width: 100%;
      margin-bottom: 7px;
      height: 4px;
      background-color: $main-color;
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  &__buttons {
    width: 670px;
  }
  &__button {
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
  }
}

@media (max-width: 1200px) {
  .nav {
    height: 70px;
  }
}

@media (max-width: 992px) {
  .nav {
    &__wrapper {
      justify-content: center;
    }
    &__buttons {
      width: auto;
      justify-content: center;
    }
  }
}

@media (max-width: 768px) {
  .nav {
    height: 50px;
    &__burger {
      display: block;
    }
    &__buttons {
      display: none;
      justify-content: center;
    }
  }
}
