.services {
  padding: 40px 0;
  background: linear-gradient($add-main-color, $main-color);
  position: relative;
  overflow-x: hidden;
  &__title {
    text-align: center;
    font-weight: 300;
    @include title($main-text-color);
  }
  &__controllers-wrapper {
    margin-top: 20px;
    text-align: center;
  }
  &__controller {
    @include controller($main-text-color);
    @include inshadow(4px, rgba(0, 0, 0, 0.25));
  }
  &__desc {
    width: 800px;
    margin: 32px auto 0;
    text-align: center;
    font-size: 24px;
    color: $main-text-color;
  }
  &__wrapper {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
  }
  &-item {
    width: 360px;
    height: 500px;
    padding: 25px;
    border-radius: 20px;
    background-color: $main-text-color;
    text-align: center;
    position: relative;
    z-index: 1;
    display: block;
    @include shadow(6px, rgba(0, 0, 0, 0.25));
    &__img {
      object-fit: cover;
      width: 100%;
      height: 132px;
      border-radius: 15px;
    }
    &__title {
      margin-top: 15px;
      font-size: 22px;
    }
    &__divider {
      margin: 8px auto 0;
      width: 120px;
      height: 2px;
      background-color: $main-color;
    }
    &__desc {
      margin-top: 11px;
    }
    &__neuron {
      z-index: -1;
      position: absolute;
      width: 53px;
    }
    &_up {
      left: 8px;
      top: 8px;
    }
    &_down {
      bottom: 8px;
      right: 8px;
    }
    &__button {
      position: absolute;
      bottom: 25px;
      left: 50%;
      transform: translateX(-50%);
    }
  }
}

@media (max-width: 1200px) {
  .services-item {
    height: 450px;
    width: 315px;
    &__img {
      height: 110px;
    }
  }
}

@media (max-width: 992px) {
  .services {
    &__desc {
      width: 600px;
      font-size: 20px;
    }
    &-item {
      width: 350px;
      &__img {
        height: 132px;
      }
      &__desc {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 768px) {
  .services {
    &__desc {
      margin-top: 16px;
      font-size: 16px;
      width: 450px;
    }
    &__wrapper {
      margin-top: 16px;
    }
    &-item {
      width: 270px;
      height: 400px;
      &__img {
        height: 94px;
      }
      &__title {
        font-size: 20px;
      }
      &__desc {
        font-size: 16px;
      }
    }
    &__controllers-wrapper {
      margin-top: 16px;
    }
    &__controller {
      height: 46px;
      & button {
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 576px) {
  .services {
    &__desc {
      font-size: 14px;
      max-width: 400px;
      width: auto;
    }
    &-item {
      width: 300px;
      &__img {
        height: 107px;
      }
    }
    &__controller {
      height: auto;
      gap: 4px;
      padding: 4px;
      & button {
        padding: 6px;
        font-size: 13px;
      }
    }
  }
}

@media (max-width: 360px) {
  .services__controller {
    height: auto;
    gap: 3px;
    padding: 4px;
    & button {
      padding: 6px 4px;
      font-size: 12px;
    }
  }
}
