.slide {
  opacity: 0;
  flex-shrink: 0;
}

.hide-slide {
  animation: hide 1s ease-in-out;
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.show-slide {
  opacity: 1;
  animation: show 1s ease-in-out;
}

@keyframes show {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
