.slide {
  opacity: 0;
  flex-shrink: 0;
}

.hide-slide {
  animation: hide 1s ease-in-out;
}

@keyframes hide {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.show-slide {
  opacity: 1;
  animation: show 1s ease-in-out;
}

@keyframes show {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.slider {
  &__controll {
    height: 60px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 20px;
  }
  &__left,
  &__right {
    cursor: pointer;
    background-color: rgba(#fff, 0.4);
    opacity: 0.6;
    width: 60px;
    height: 60px;
    border-radius: 100%;
    border: none;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 10px;
      left: 25px;
      display: block;
      width: 4px;
      height: 25px;
      background-color: #fff;
      transform: rotate(45deg);
    }
    &::before {
      content: "";
      position: absolute;
      bottom: 10px;
      left: 25px;
      display: block;
      width: 4px;
      height: 25px;
      background-color: #fff;
      transform: rotate(-45deg);
    }
  }
  &__right {
    transform: rotate(180deg);
  }
  &_blue-button {
    border: 2px solid $main-color;
    background-color: rgba($main-color, 0.4);
    &::after {
      top: 8px;
      left: 23px;
      background-color: $main-color;
    }
    &::before {
      bottom: 8px;
      left: 23px;
      background-color: $main-color;
    }
  }
}
